<section>
  <h4>Telgraph: API Tester</h4>
</section>

<div class="container">
  <div class="row">
    <input type="text" placeholder="API URL" id="input-url"/>
    <select id="http-method">
      <options>
        <option>GET</option>
        <option>POST</option>
      </options>
    </select>
  </div>
  <div class="row">

      <input type="text">
      <input type="text">

      <button id="btn-test">Test</button>
  
  </div>

  <div class="row">
    <textarea id="result"></textarea>
  </div>
</div>

<script>
  var editor = CodeMirror.fromTextArea(document.querySelector("#result"), {
      lineNumbers: true,
      mode: {
        name: "javascript",
        json: true
      }
  });

  editor.setOption('theme', 'material-darker');
  editor.setSize("100%", null);

  $(function () {
    var $apiUrl = $("#input-url");

     editor.setValue("Please click the 'Test' button to run the test");
    
    $apiUrl.val("https://jsonplaceholder.typicode.com/posts");

    $("#btn-test").on("click", function (e) {
      e.preventDefault();
      var url = $apiUrl.val();
      var method = $("#http-method").val();
      console.log(`Fetching ${url}...`);
      fetch(url, {
        method: method
      })
      .then((response) => response.json())
      .then((json) => showResult(json));
      });
  })

  function showResult(json) {
    console.log(json);
    editor.setValue(JSON.stringify(json, null, "\t"));
  }
</script>
