<section>
 
  <a href={Routes.page_path(@conn, :index)}>
     <h4>Telgraph: API Tester</h4>
  </a>
</section>

<div class="container">
  <div class="row">
    <input type="text" placeholder="API URL" id="input-url"/>
    <select id="http-method">
      <options>
        <option>GET</option>
        <option>POST</option>
      </options>
    </select>
    <button id="btn-test">Test</button>
  </div>
  <div class="row">
    <%= dump_nested @fields, fn(attributes, fun) -> %>
    <dl>
      <%= for {key, value} <- attributes do %>
        <dt><%= key %></dt>
        <dd><%= dump_nested value, fun %><dd>
      <% end %>
    </dl>
  <% end %>
</div>

  <div x-data="json">
    <button id="result-json">JSON</button>
    <button id="result-table">Table</button>

    <div class="row" x-show="json">
      <textarea id="result"></textarea>
    </div>
    <div class="row" x-show="table">
      <table id ="api-result" />
    </div>
  </div>
 
</div>

<script>
  var data = undefined;
  var view = "json";

  var editor = CodeMirror.fromTextArea(document.querySelector("#result"), {
      lineNumbers: true,
      mode: {
        name: "javascript",
        json: true
      }
  });

  editor.setOption('theme', 'material-darker');
  editor.setSize("100%", null);

  $(function () {
    setupJs();
    var $apiUrl = $("#input-url");

     editor.setValue("Please click the 'Test' button to run the test");
    
    $apiUrl.val("https://jsonplaceholder.typicode.com/posts");

    $("#btn-test").on("click", function (e) {
      e.preventDefault();
      var url = $apiUrl.val();
      var method = $("#http-method").val();
      console.log(`Fetching ${url}...`);
      fetch(url, {
        method: method
      })
      .then((response) => response.json())
      .then((json) => {
        data = json; 
        showResult(json)
      });
    });
  })

  function setupJs() {
    $("#result-json").on("click", function (e) {
      $("[x-show=json]").show();
      $("[x-show=table]").hide();
      view = "json";
      renderJson(data);
    })

    $("#result-table").on("click", function (e) {
      $("[x-show=json]").hide();
      $("[x-show=table]").show();
      view = "table";
      renderTable(data);
    })
    
  }

  function showResult(json) {
    console.log(json);
    if (view == "json") {
      editor.setValue(JSON.stringify(json, null, "\t"));
    } else {
      renderTable(json);

    }
  }

  function renderJson(data) {
     editor.setValue(JSON.stringify(data, null, "\t"));
  }

  function renderTable(json) {
    var tbl_body = "";
   
    var first = json[0] || [];
    var header = '';

    if (first) {
      Object.keys(first).forEach(k => {
        console.log("k: ", k);
        header += `<th>${k}</th>`
      })
    }

    header = `<thead><tr>${header}</tr></thead>`

    $.each(data, function() {
        var tbl_row = "";
        $.each(this, function(k , v) {
            tbl_row += `<td>${v}</td>`;
        });
        tbl_body += `${header}<tr>${tbl_row}</tr>`;
    });
    $("#api-result").html(tbl_body);
  }
</script>
